.img-logo {
    height: 50px;

    padding-right: 50px;
}

.btn-search-nav {
    border: solid 2px #86b7fe;
    border-radius: 7px;

    transition: all .3s ease;
}

.btn-search-nav:hover {
    background-color: #86b7fe;

    color: #ffffff;
}