.body {
    background-color: #37465d;

    height: 100vh;
}

.img-logo {
    height: 50px;

    padding-right: 50px;
}

.btn-search-nav {
    border: solid 2px #86b7fe;
    border-radius: 7px;

    transition: all .3s ease;
}

.btn-search-nav:hover {
    background-color: #86b7fe;

    color: #ffffff;
}

.img-clo {
    height: 400px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-edit {
    width: 40%;

    text-align: center;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}