/* ----------ALL---------- */

.body {
    background-color: #37465d;

    height: 100%;
}

.none {
    display: none;
}

/* ----------ALL---------- */



/* ----------NAV---------- */

.img-logo {
    height: 50px;

    padding-right: 50px;
}

.btn-search-nav {
    border: solid 2px #86b7fe;
    border-radius: 7px;

    transition: all .3s ease;
}

.btn-search-nav:hover {
    background-color: #86b7fe;

    color: #ffffff;
}

/* ----------NAV---------- */



/* ----------MAIN---------- */

.img-clo {
    height: 400px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-edit {
    width: 40%;

    text-align: center;

    margin-top: 30px;
    margin-left: auto;
    margin-bottom: 50px;
    margin-right: auto;
}

.sale {
    display: flex;
    justify-content: center;

    margin-top: 20px;

    color: #ffffff;
}

.sale h2 {
    font-size: 40px;
}

.img-grid {
    height: 300px;

    transition: all .5s ease;
}

.img-grid:hover {
    transform: scale(1.1);
}

.col {
    text-align: center;
}

.reco {
    display: flex;
    justify-content: center;

    margin-top: 40px;
    margin-bottom: 30px;

    color: #ffffff;
}

/* ----------MAIN---------- */

/* ----------FOOTER---------- */

.iconos-r {
    width: 23px;
    height: 23px;

    align-items: center;

    margin: 15px;
}

.iconos-f {
    margin-top: 7px;
}

footer {
    margin-top: 65px;

    display: flex;
    justify-content: space-between;

    text-align: center;
}

footer ul {
    display: flex;
    flex-direction: row;

    margin-top: 17px;
}

footer ul li {
    list-style: none;

    margin-left: 20px;
    margin-right: 20px;

    color: #6c757d;

    transition: all .1s ease;
}

footer ul li:hover {
    color: #000000cd
}

.copy {
    margin-left: 20px;
    margin-top: 18px;
    font-weight: 600;
}

/* ----------FOOTER---------- */

/* ----------INDEX---------- */



/* ----------REMERAS---------- */

.footer-remeras {
    position: absolute;
    bottom: 0;

    width: 100%;
}

.img-reme {
    height: 350px;
    width: 350px;

    padding-left: 40px;

    margin-top: 10px;

    border-radius: 0;
}

.cards-edit {

    margin-top: 25px;
    margin-right: 15px;
    margin-bottom: 50px;
    margin-left: 15px;
}

.cuotas {
    color: #f80202;
}

.card {
    background-color: #bdd0e0;
}